#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* FORM CSS - START */
#task-form-container{
    width: 30%;
    /* border: 2px solid red; */
    padding: 10px;
}

#task-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid silver;
    width: 100%;
    border-radius: 10px;
}
#form-title{
    margin: 10px auto;
    color: blue;
}
.form-group{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
}
.form-label{
    width: 100%;
    font-size: 1.5rem;
    padding: 10px 0;
}
.form-control{
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
}
.form-check{
    width: 20px;
    height: 20px;
    margin: 10px;
}

.form-button{
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.create-button{
    background-color: blue;
    color: white;
}

/* FORM CSS - END */

/* TASK LİST - START */
#task-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-count: 3;
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
}

/* TASK CARD - START */
.task-card-container{
    width: 33%;
    padding: 5px;
    /* border: 1px solid red; */
    background-color: black;
}
.task-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 10px;
    background-color: black;
}
.card-group{
    width: 100%;
    padding: 10px;
    /* text-align: center; */
    border-bottom: 1px solid silver;
    background-color: black;
    color: white;
}
.card-title{
    margin: 5px 0;
    background-color: black;
    color: white;
}
.card-text{
    margin: 5px 0;
    background-color: black;
    color: white;
}
.button-group{
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
}
.card-button{
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 10px 5px;
    margin-bottom: 0;
    font-size: 1.5rem;
}
.update-button{
    background-color: green;
    color: white;
}
.delete-button{
    background-color: red;
    color: white;
}